.global__button {
  padding: 13px 50px;
  background-color: #f96900;
  border-radius: 50px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  transition: 0.4s;
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.global__button:hover {
  background-color: #e96100;
  transition: 0.4s;
}


