.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 30px;
}

.wrapper {
  padding: 40px 0 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
