/* .slider {
  padding-top: 30px;
  padding-bottom: 62px;
  max-width: 1060px;
  margin: 0 auto;
  box-sizing: content-box;
  position: relative;
  width: 80%;
  height: 500px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider__img {
  box-shadow: 0px 5px 20px 0px #73798c26;
  max-width: 100%;
  height: auto;
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.2s;
}

.slider_img_prev {
  transform: translateX(-100%);
}

.slider_img_next {
  transform: translateX(100%);
} */

.slider {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 30px;
  top: 30px;
  position: relative;
  width: 80%;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider_img {
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.8s;
}

.slider_img_prev {
  transform: translateX(-100%);
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.8s;
}

.slider_img_next {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.8s;
}

.img {
  border-radius: 20px;
  width: 1060px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
