.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  max-width: 467px;
  list-style-type: none;
}
